<%= form_with(model: movie_pa2) do |form| %>
  <% if movie_pa2.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie_pa2.errors.count, "error") %> prohibited this movie_pa2 from being saved:</h2>

      <ul>
        <% movie_pa2.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <%= form.text_field :release_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
