<div id="<%= dom_id movie_pa2 %>">
  <p>
    <strong>Title:</strong>
    <%= movie_pa2.title %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie_pa2.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie_pa2.description %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie_pa2.release_date %>
  </p>

</div>
